%hr
%footer.p-5
  .container.text-white
    .row
      .col-md-4
        = link_to 'Teach on Corsego', new_course_path
        .row
        Cosego for business
        .row
        About us
      .col-md-4
        = link_to 'Privacy policy', privacy_policy_path
        .row
        Terms & conditions
        .row
        Careers
        .row
        Help & support
        .row
        Blog
      .col-md-4
        Copyright
        &copy;
        = Time.now.year
        CoursePlatform Sp, z o.o.
        .row
        .fa.fa-envelope
        = mail_to 'railsmails553@gmail.com'
        .row
%br
