%h3
  Users created per day
= line_chart @users.group_by_day(:created_at).count
%p
%h3
  Enrollments created per day
= line_chart @enrollments.group_by_day(:created_at).count
%p
%h3
  Course Popularity
= bar_chart @enrollments.joins(:course).group(:'courses.title').count
