- content_for :head do
  Corsego
  \|
  Editing
  = @enrollment

.card 
  .card-header
    %h3
      .text-warning.fa.fa-star
      Add a enrollment
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show Review', @enrollment
    \|
    = link_to 'Back to course', course_path(@enrollment.course)
